<main class="container-fluid">
<%= form_tag '/submit_question',remote: true, class: :question do%> 
  <h4 class="well" id="question-content"><%= @question.question_content %></h4>
  <div>
    <div>
      <div class="well answer-option"><%= radio_button_tag 'answer_option','option_a' %>&nbsp;<%= @question.option_a %></div>
      <div class="well answer-option"><%= radio_button_tag 'answer_option','option_b' %>&nbsp;<%= @question.option_b %></div>
    </div>
    <div> 
      <div class="well answer-option"><%= radio_button_tag 'answer_option','option_c' %>&nbsp;<%= @question.option_c %></div>
      <div class="well answer-option"><%= radio_button_tag 'answer_option','option_d' %>&nbsp;<%= @question.option_d %></div>
    </div>
    <br>
  </div>
  <div id="timer"></div>
  <%= hidden_field_tag 'question_id', @question.id %>
    <input type="submit" class="btn btn-default" id="submit_question">
  <% end %>
  <div id="change-question">
    <%= form_tag '/previous_question',class: 'previous' do %>
      <%= hidden_field_tag 'question_id',@question.id %>
      <div type="submit" class="btn btn-default" id= 'previous_question'>Previous</div>
    <% end %>
    <%= form_tag '/next_question',class: 'next' do %>
      <%= hidden_field_tag 'question_id',@question.id %>
      <input type="submit" class="btn btn-default" id= 'next_question' value="Next">
    <% end %>
  </div>
</main>
