<%= render 'header' %>
<main class="container-fluid">
  <%= render 'main' %>
</main>
<%= render 'aside' %>
  <div class="row progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuenow="<%= @percentage %>" aria-valuemin="0" aria-valuemax="100" style= "width: <%= @percentage %>%">
      <%= @percentage %>% Complete
    </div>
  </div>
