<% counter=1 %>
<aside>
	<ul>
		<% @questions.each do |q| %>
			<li>
				<% str = "Question "+counter.to_s %>
				<% counter+=1 %>
				<%= link_to str,"/question/#{q.id}" %>
			</li>
		<% end %>	
	</ul>
</aside>

<main>
<%= form_tag '/next',remote: true, class: :question do%>	
	<p><%= @question.question_content %></p>
	<div>
		<div>
			<%= radio_button_tag 'answer_option','option_a' %><%= @question.option_a %><br>
			<%= radio_button_tag 'answer_option','option_b' %><%= @question.option_b %>
		</div>
		<div>	
			<%= radio_button_tag 'answer_option','option_c' %><%= @question.option_c %><br>
			<%= radio_button_tag 'answer_option','option_d' %><%= @question.option_d %>
		</div>
		<br>
	</div>
	<%= hidden_field_tag 'question_id', @question.id %>
	<div id="submit_question"><%= submit_tag 'Submit'%></div>	
<% end %>	
</main>