<%= link_to 'logout', destroy_user_session_path, method: :delete , data: {confirm: 'Are you Sure?'}%>
<%= link_to 'Submit Test', '/submit', method: :get , data: {confirm: 'Are you Sure?'}%>
<% counter=1 %>
<main>
<%= form_tag '/next',remote: true, class: :question do%>	
	<h4><%= @question.question_content %></h4>
	<div>
		<div>
			<div><%= radio_button_tag 'answer_option','option_a' %><%= @question.option_a %></div>
			<div><%= radio_button_tag 'answer_option','option_b' %><%= @question.option_b %></div>
		</div>
		<div>	
			<div><%= radio_button_tag 'answer_option','option_c' %><%= @question.option_c %></div>
			<div><%= radio_button_tag 'answer_option','option_d' %><%= @question.option_d %></div>
		</div>
		<br>
	</div>
	<%= hidden_field_tag 'question_id', @question.id %>
	<div id="submit_question"><%= submit_tag 'Submit'%></div>	
<% end %>	
</main>
<aside>
	<div>
		<% @questions.each do |q| %>
			<div>
				<% str = counter.to_s %>
				<% counter+=1 %>
				<%= link_to str,"/question/#{q.id}" %>
			</div>
		<% end %>	
	</div>
</aside>
<div id="timer"></div>
